body {
  font-family: 'Inter', sans-serif;
}

[class*="AppHeader-header"] {
  background-color: #1a1a1a; 
  border-bottom: 2px solid #33ff99; 
}

[class*="Button-button-default"] {
    background-color: #33ff99 !important;
    color: #1a1a1a !important;
    font-weight: bold;
}

[class*="CollectionTop-new-entry-button"] {
    background-color: #33ff99 !important;
    color: #1a1a1a !important;
}

[class*="Editor-previewPane"] {
  background-color: #f5f5f5;
  padding: 20px;
}